* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* HERO */
#hero h2 {
    color: #6b7280;
    padding: 1rem; 


}

#hero p {
    font-size: 0.9rem;
}

.recipe-title {
    color: #034b6d;
    padding: 7rem;
}

.recipe-intro {
    font-size: 1.2rem;
}


/* TAGS */
.tag {
    padding: 0.25rem 0.75rem;
    border-radius: 99px;
    font-size: 0.875rem;
    height: 60px;
}

.tag--spicy {
    background: #fee2e2;
    color: #3410e8;
}

.tag--quick {
    background: #dbfeec;
    color: #1e40af;

}

/* BUTTON */
.btn {
    background: #6d030e;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button {
    background: #9ca3af;

}


/* NOTES */
.note {
    background: #fef3c7;
    padding: 1rem;
    border-left: 4px solid red;
    border-top: 4px solid rgb(229, 229, 224);
    border-radius: 6px;
    margin-bottom: 1rem;
}

.note p {
    color: #4b5563;
}

.note strong {
    color: #92400e !important;
}

.ingredients {
    background: rgb(247, 248, 246);
    padding: 1.5rem;
    margin: 10px 20px 30px 40px;
    border-top: 5px solid coral;
    border-bottom:5px solid black;

}

.container {
    width: 100%;
    max-width: 1100px;
    margin:  0 auto;
    padding: 0 1rem ;
}


/*  REVIEW FORM */
.form-group {
    margin-bottom: 1.5rem;

}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;

}

input, select, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid lightgray;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #f56f08;

}

.btn {
    display: inline-block;
    background:#e2e4e6;
    color: white;
    padding: 0.75rem 1,5rem;

}

